<a href="https://colab.research.google.com/github/qhfmaekf/qhfmaekf/blob/main/21_12_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#연습문제 6장
for i in range(2, 101):
      if i%2==0:
        print(i, end=" ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [3]:
year=0
balance=1000

while balance <= 2000:
      year=year+1
      interest=balance * 0.07
      balance=balance+interest
print(year, "년이 걸립니다.")

11 년이 걸립니다.

In [6]:
ans=0
while ans !=3*9:
  ans = int (input("3*9는"))
print("맞았습니다.")

3*9는27
맞았습니다.

In [10]:
sum=0
while True:
  x=int(input("정수를 입력하시오: "))
  if x ==0:
    break;
  sum=sum+x

print("합은 ", sum, "입니다.2")

정수를 입력하시오: 32
정수를 입력하시오: 56
정수를 입력하시오: 75
정수를 입력하시오: 95
정수를 입력하시오: 22
정수를 입력하시오: 77
정수를 입력하시오: 88
정수를 입력하시오: 55
정수를 입력하시오: 11
정수를 입력하시오: 45
정수를 입력하시오: 6
정수를 입력하시오: 1
정수를 입력하시오: 0
합은  563 입니다.

In [12]:
from random import randint

for i in range(3):
  d1= randint(1, 6)
  d2= randint(1, 6)
  print("첫번째 주사위=", d1, "두번째 주사위=", d2)

첫번째 주사위= 1 두번째 주사위= 6
첫번째 주사위= 5 두번째 주사위= 5
첫번째 주사위= 3 두번째 주사위= 6