<a href="https://colab.research.google.com/github/qhfmaekf/qhfmaekf/blob/main/21_11_22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
age = 20 
if age <= 30 and age <= 50:
  print("20살 미만")
else:
  print("20살 이상")

20살 미만

In [5]:
temp = int(input("현재 온도를 입력하시오.: "))

if temp >= 25:
  print("반바지를 입으세요.")
else:
  print("긴바지를 입으세요.")

현재 온도를 입력하시오.: 20
긴바지를 입으세요.

In [11]:
score = int(input("점수를 입력하시오.: "))
if score >= 90:
  print("A예요.") 
elif score >=80:
  print("B예요.")
elif score >=70:
  print("C예요.")
elif score >= 60:
  print("D예요.")
else:
  print("F예요. 내년에 또 봐요.")

점수를 입력하시오.: 55
F예요. 내년에 또 봐요.

In [13]:
import random
x= random.randint(1, 100)
y= random.randint(1, 100)

answer = int(input(str(x)+"-"+str(y)+"="))
if answer == x-y:
  print("맞았습니다.")
else:
  print("틀렸습니다.")

65-20=45
맞았습니다.

In [14]:
n=int(input("정수를 입력하시오.: "))
if n%2 == 0 and n%3 == 0:
  print("2와 3으로 나누어 떨어져요.")
else:
  print("안돼요.")

정수를 입력하시오.: 6
2와 3으로 나누어 떨어져요.

In [16]:
for i in range(2, 101):
    if i%2==0:
      print(i, end = "")

2468101214161820222426283032343638404244464850525456586062646668707274767880828486889092949698100